!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='/css/bootstrap.min.css', media='screen')
      link(href='http://fonts.googleapis.com/css?family=PT+Mono', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Special+Elite', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/css/custom.css')
      link(rel='stylesheet', href='http://yandex.st/highlightjs/7.3/styles/dark.min.css')
      block scripts
      
  body
    .container
      header.row
        div.span12
          .row
            #sum.span4
              .row
                .span1
                  p.text-right +
                  p.text-right -
                  p.text-right +
                  p.text-right +
                  p.text-right +
                  p.text-right +
                .span2
                  p.text-right DBus
                  p.text-right bad parts
                  p.text-right JSON
                  p.text-right Websocket
                  p.text-right Cache
                  p.text-right REST-Filters
                  p.text-right ============
                  p.text-right.jet Jet
                .span1
              img(src='/images/postit_note_a.png')
            .span8.tagline The JSON Bus
            
      div.row
        div.span12
          block content        
      footer.row
        div.span12
          block footer
            p &copy; #{ new Date().getFullYear() } 
              a(href=locals.owner.url)= locals.owner.name